# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env

# -------------------------------
# Virtual environment
# -------------------------------
.venv/
venv/
env/

# -------------------------------
# VSCode
# -------------------------------
.vscode/
.history/
*.code-workspace

# -------------------------------
# System files
# -------------------------------
Thumbs.db
.DS_Store
desktop.ini
*.log
*.sqlite3

# -------------------------------
# MySQL / DB / tools
# -------------------------------
*.sql
.dbclient/
*.db
*.sqlite

# -------------------------------
# dotenv
# -------------------------------
.env
.env.*   # eventuali altri file env

# -------------------------------
# Streamlit / cache
# -------------------------------
.streamlit/
.cache/
